[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
werkzeug = "==0.16.0"
#flask-serialize = "*"
#connexion = "*"
#flask_restplus = "*"
flask-restful = "*"
flask-restful-swagger = "*"
PyJWT = "*"
Flask-Injector = "*"
fastavro = "*"
injector = "*"
firebase-admin = "*"
kanpai = "*"
flask-marshmallow = "*"
py-bcrypt = "*"
pyOptional = "*"
#firebase = "*"
#python_jwt = "*"
#gcloud = "*"
#sseclient = "*"
#pycrypto = "*"
#requests-toolbelt = "*"

[requires]
python_version = "3.7"